{
  "id": "{{ .ID }}",
  "short_name": "{{ .ShortName }}",
  "name": "{{ .Name }}",
  "icons": [
    {
      "src": "{{ .Icon }}",
      "sizes": "512x512",
      "type": "image/png"
    }
  ],
  "start_url": "{{ .StartURL }}",
  "display": "standalone"
}
